.movieListPage {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .appBar {
        .toolBar {
            display: flex;
            justify-content: space-between;
            .title {
            }
        }
    }

    .listLoading {
        display: flex;
        margin-top: 24px;
    }

    .listSection {
        height: 100%;
        display: flex;

        .listPageBody {
            display: flex;

            .listCard {
                width: 120px;
            }
        }
        
        .listSelection {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .form {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }

            .noLists {
                display: flex;
            }
    
            .listSelector {
                width: 200px;
                margin-left: 2px;
            }
        }
    }

 
}

.listNameForm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputField {
        margin-bottom: 12px;
    }
}