.tmdb_row {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 8px;
    border-bottom: 1px solid black;
    cursor: pointer;
    transition-duration: 200ms;
}

.tmdb_row:hover {
    background-color: rgba(65, 176, 232, 0.5);
}

.tmb_row_watched {
    cursor: default;
    background-color: lightgreen;
}

.tmb_row_watched:hover {
    background-color: lightgreen;
}

.tmdb_poster {
    height: 100px;
}

.tmdb_data {
    margin-left: 8px;
}

.tmdb_title {
    font-weight: 700;
    margin-right: 64px;
    font-size: 18px;
}

.meta_data {
    font-size: 16px;
    color: darkgray;
    font-style: italic;
}

.tmdb_date {

}

.divider {
    margin-left: 4px;
    margin-right: 4px;
}

.tmdb_score {
}

.tmdb_overview {
    font-size: 12px;
    margin-top: 2px;
}

.row {
    display: flex;
}

.space_between {
    justify-content: space-between;
}

.align_start {
    align-items: flex-start;
}

.align_center {
    align-items: center;
}

.smol_text {
}
